<!--success.vtl-->
<h1>Thank you for posting this job opening!</1>
<h3>Your listing has now been posted on the job board; if you navigate back to our homepage, you will see it there!</h3>
<a href="/">Go back</a>
<!--success.vtl-->
